.about{
    margin-top: 12rem;
}
.about > h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
    color: #6A98F0;
}
.about_me{
    background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
    display: flex;
    justify-content: space-evenly;
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 8%;
    padding-right: 8%;
}
.img_me{
    width: 20rem;
    height: 20rem;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    border: 10px solid white;
    border-radius: 50%;
}
.img_me > img{
    width: 20rem;
    height: 20rem;
    filter: grayscale(100%);
    transition: all .5s;
}
.img_me > img:hover{
    filter: grayscale(0);
    width: 20.5rem;
    height: 20.5rem;
}
.describe_me{
    width: 45%;
    margin-top: auto;
    margin-bottom: auto;
}
.describe_me > p{
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: 'Share Tech', sans-serif;
}
.quote{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}
.quote_storage{
    position: relative;
    margin-top: 10px;
    height: 80px;
    width: 300px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(216, 216, 216) 0px 5px 10px;
    border-radius: 10px;
    overflow: hidden;
}
.quote_storage > h5{
    font-size: 1rem;
    font-family: 'Roboto, Oxygen, Ubuntu, Cantarell';
}
.quote_storage > p{
    position: absolute;
    font-size: small;
    font-style: italic;
    margin-top: auto;
    bottom: 10px;
    right: 10px;
}
@media only screen and (max-width: 730px){
    .about{
        margin-top: 7rem;
    }
    .about_me{
        flex-wrap: wrap;
    }
    .img_me{
        width: 15rem;
        height: 15rem;
        margin-top: auto;
        margin-bottom: auto;
        border: 5px solid white;
        border-radius: 50%;
    }
    .img_me > img{
        width: 15rem;
        height: 15rem;
    }
    .img_me > img:hover{
        width: 15rem;
        height: 15rem;
        filter: grayscale(0);
    }
    .describe_me{
        width: 95%;
        margin-top: 20px;
    }
    .quote{
        flex-wrap: wrap;
    }
    .quote_storage{
        width: 80%;
        margin-top: 10px;
    }
}
