.contact {
  margin-top: 13rem;
  margin-bottom: 3rem;
}
.contact > h1 {
  margin-bottom: 60px;
  font-size: 2.5rem;
  text-align: center;
  color: #6d83f2;
}
.contact_info {
  height: 600px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-shadow: rgb(207, 207, 207) 0px 5px 10px;
}
.contact_logo {
  width: 55%;
  height: 100%;
  background-color: rgb(115, 170, 219);
  overflow: hidden;
  /* background-color: #6A98F0; */
}
.contact_page {
  width: 45%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 730px) {
  .contact {
    margin-top: 8rem;
  }
  .contact_info {
    width: 90%;
    height: 830px;
    overflow: hidden;
  }
  .contact_logo {
    display: none;
  }
  .contact_page {
    width: 100%;
  }
}
